body {
    background-color: #f7efd2;
    font-family: "Jersey 10", sans-serif;
    text-align: center;
}

h1 {
    font-size: 100px;
    margin-bottom: -10px;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    margin: 20px auto 0 auto;
    height: 35px;
    width: 100px;
    font-size: 40px;
    font-family: "Jersey 10", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid #000;
    box-sizing: border-box;
}
